.App {
  text-align: center;
}

button{
   background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  /* height: 200px; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}
.button-home{
  display: block;
}
/* Form Styling */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input {
  /* width: 10%; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Styling for select */
.select-container {
  position: relative;
}

.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none;
}

.select::after {
  content: '\25BE'; /* Downward arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Styling for option */
.select option {
  background-color: #fff;
  color: #333;
}

.select option:hover {
  background-color: #f2f2f2;
}

.select option:selected {
  background-color: #e0e0e0;
}

select{
 width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  appearance: none;

}



label{
  font-weight: bold;
}

nav{
  background-color: grey;
  padding: 1rem;
  color: #000;
}

.navlink{
  padding: 1rem;
  text-decoration: none;
  color: white;
}